<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="ed_teacher_div">
      <div class="row">
        <h2 class="text-center"><%= t ".title" %></h2>
        <div class="row navbar-right">
          <div class="form">
            <div class="form-group">
              <%= select "word", "category_id",
                @categories.collect {|p| [ p.name, p.id ] },
                {include_blank: t(".none")}, class: "button",
                id: "word_category", data: {url: admin_words_path} %>
              <%= link_to t(".btn_new"), new_admin_word_path,
                class: "button", title: t(".btn_new") %>
            </div>
          </div>
        </div>
        <div class="table-responsive table-condensed admin-category">
          <table class="table">
            <thead>
              <tr>
                <th class="index"></th>
                <th><%= t ".content" %></th>
                <th class="text-center"><%= t ".answer" %></th>
                <th class="action"><%= t ".action" %></th>
                <th class="action"></th>
              </tr>
            </thead>
            <tbody>
              <%= render @words %>
            </tbody>
          </table>
        </div>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
